/* You can add global styles to this file, and also import other style files */
.full-width {
  width: 100%;
}

.full-width-table {
  width: 100%;
  overflow-x: auto;
}

.mat-form-field {
  margin-bottom: 12px;
}

.text-right {
  text-align: right;
}
